:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

// ::ng-deep {
//     .divider {
//         align-self: stretch;
//     }
// }
.divider {
    align-self: stretch;
}