<h1>Проработанные компоненты</h1>
<nav>
  <a routerLink="/autocomplete" routerLinkActive="active" ariaCurrentWhenActive="page">Autocomplete</a>
  <a routerLink="/calendar" routerLinkActive="active" ariaCurrentWhenActive="page">Calendar</a>
  <a routerLink="/cascadeSelect" routerLinkActive="active" ariaCurrentWhenActive="page">CascadeSelect</a>
  <a routerLink="/checkbox" routerLinkActive="active" ariaCurrentWhenActive="page">Checkbox</a>
  <a routerLink="/chips" routerLinkActive="active" ariaCurrentWhenActive="page">Chips</a>
  <a routerLink="/dropdown" routerLinkActive="active" ariaCurrentWhenActive="page">Dropdown</a>
  <a routerLink="/buttons" routerLinkActive="active" ariaCurrentWhenActive="page">Buttons</a>
  <a routerLink="/accordion" routerLinkActive="active" ariaCurrentWhenActive="page">Accordion</a>
  <a routerLink="/fieldset" routerLinkActive="active" ariaCurrentWhenActive="page">Fieldset</a>
  <a routerLink="/splitter" routerLinkActive="active" ariaCurrentWhenActive="page">Splitter</a>
  <a routerLink="/table" routerLinkActive="active" ariaCurrentWhenActive="page">Table</a>
</nav>
<router-outlet></router-outlet>