<p-cascadeSelect 
    formControlName="selectedCity1" 
    [options]="countries" 
    optionLabel="cname" 
    optionGroupLabel="name"
    [optionGroupChildren]="['states', 'cities']" 
    [style]="{'minWidth': '14rem'}"
    [panelStyle]="{'margin-top': '3rem'}"
    [showClear]="true"
    placeholder="Select a City"
    >
    <ng-template pTemplate="option" let-option>
        <div class="country-item" style="display: flex; align-items: center; gap: 1rem">
            <p-image *ngIf="option.states"  src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg" alt="Image" width="50"></p-image>
            <i class="pi pi-compass mr-2" *ngIf="option.cities"></i>
            <i class="pi pi-map-marker mr-2" *ngIf="option.cname"></i>
            <span>{{option.cname || option.name}}</span>
        </div>
    </ng-template>
</p-cascadeSelect>
